.root {
  -fx-base: #000000;
  -fx-accent: #555;
  -fx-focus-color: #444;
  -fx-faint-focus-color: #444;
}
/* Title */
#menuBar * * {
  -fx-text-fill: #000000;
}
.tooltip,
.tooltip * {
  -fx-background-color: #191919;
  -fx-text-fill: #000000 !important;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}
.menu-item:hover,
.menu-item:focused {
  -fx-background-color: #000000;
}
.titleBarExitBtn {
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}
.titleBarExitBtn:hover {
  -fx-background-color: #191919;
  -fx-background-radius: 10;
}
#btnTagEdit * {
  -fx-text-fill: #000000;
  -fx-background-color: #333333;
}
/* Home */
.selected-cell {
  -fx-background-color: #191919;
}
